<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Troweld</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid header_top_container">
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
          <div class="contact_nav">
            <a href="">
              
              <span>
                المكان
              </span>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </a>
            <a href="">
              
              <span>
                +01 123455678990 :الرقم
              </span>
              <i class="fa fa-phone" aria-hidden="true"></i>
            </a>
            <a href="">
             
              <span>
                demo@gmail.com : البريد
              </span>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </div>
          
            
        
          <a class="navbar-brand " href="index.html">
            <div >
                  <img style="width: 120px;margin-right: 50px;margin-top: 50px;" src="images/LogoAlata.png" >
            </div>
           </a>
        </div>
        
      </div>
      <div class="header_bottom ">
        <div class="container-fluid " >
          <nav class="navbar navbar-expand-lg custom_nav-container  ">
            

            
          <img style="width: 120px;" src="images/LogoAlata.png" >
          

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html"><p style="font-size: xx-large;">الرئيسية </p> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="service.html"><p style="font-size: xx-large;">الخدمات </p></a>
                </li>
                
               
                
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- service section -->

  
       
       
        
          
  <section>
    <div class="heading_container heading_center">
   <h1>
                   <b>   عملنا في وكالة العطاء
                   </b>                                
   </h1>
 </div>

 <div class="clickable-div" id="div1">
   مدخل الى العمرة
   <div class="hidden-text" style="border-radius: 16px;">
     <div>
       العمرة باختصار <br>
       ما هي العمرة؟ <br>
       العمرة هي التعبد لله بالإحرام، والطواف بالبيت، والسعي بين الصفا والمروة، والحلق أو التقصير.

كيف أُحرِم؟

يُحرم المسلمُ من المكان المحدد له شرعاً، ويمتنع عن المحظورات التي يمنع منها حال إحرامه
يلبي قائلاً: "لبيك اللهم لبيك، لبيك لا شريك لك لبيك، إن الحمد والنعمة لك والملك، لا شريك لك"
الطواف

يتجه إلى الحرم، ويطوف بالكعبة سبع مرات، جاعلًا الكعبة عن يساره، فيبتدئ بالحجر الأسود، وينتهي به
وبعد انتهاء أشواط الطواف السبعة يصلي ركعتين في مكان مناسب
السعي

يتوجه إلى الصفا، ويبتدئ منها السعي نحو المروة، فإذا وصل المروةَ أكمل شوطاً، ثم يعود إلى الصفا ليكمل الشوط الثاني، وهكذا حتى يتم ٧ أشواط منتهياً بالمروة

الحلق والتقصير

بعد تمام السعي، يتوجه الرجل إلى محلات الحلاقة، فيحلق أو يقصر شعره
وتجمع المرأة شعرها، وتقص من أطرافه قدر أُنملة الإصبع (١ - ٢ سم)
وبذلك تكون العمرة قد تمت وخرج المعتمر من إحرامه
من الآداب التي ينبغي للمعتمر الإلتزام بها أثناء العمرة تجنب إيذاء ضيوف الرحمن بالتدافع والدخول في أماكن الزحام، وعدم ارباك المعتمرين بمعاكسة اتجاه الطواف، والحرص على اتباع إرشادات المراقبين ورجال الأمن.
</div>
     
    
   </div>
 </div>

 <div class="clickable-div" id="div2">
   السفر و الوصول
   <div class="hidden-text">
     الأمتعة في المطار <br>
     بإمكانك الحصول على عربة لحمل أمتعتك عليها مجاناً
يوجد موظفون مخصصون لدفع العربات بإمكانك أن تطلب منهم تحميل حقائبك وتنزيلها ودفع عربتك مقابل رسوم محددة
تقوم حملات الحج بترتيب خروج الحجاج من المطار بالتنسيق مع الجهات المسؤولة داخل المطار، وتحديد موقف الحافلة التي ستقل الركاب، وترتيب صعودهم ونقل أمتعتهم إليها
للانتهاء من فحص أمتعتك عند الجمارك بيسر وسهولة، سجل في نموذج الإفصاح:

المبالغ الكبيرة التي تحملها إذا كانت تتجاوز (٦٠ ألف ريال)
الهدايا بالكميات التجارية والتي تتجاوز قيمتها (٣ آلاف ريال)
يقدم مطار الملك عبدالعزيز الدولي بجدة خلال مواسم الحج والعمرة أرقى الخدمات اللازمة لضيوف الرحمن في مختلف مرافق المطار، بما يضمن راحة وصولهم ومغادرتهم.
   </div>
 </div>

 <div class="clickable-div" id="div3">
   المواقيت
   <div class="hidden-text">
     الاغتسال والتطيّب، ثم لبس الإحرام للرجل، وتحرم المرأة في ملابسها العادية.

2

الدخول في النسك والتلفّظ بالتلبية قائلًا: "اللهم لبيك عمرة" أو "لبيك عمرة".

3

يبدأ التلبية كما ورد عن النبي محمد صلى الله عليه وسلم لبيّك اللهم لبيّك لبيّك لا شريك لك لبيّك، إن الحمد والنعمة لك والملك لاشريك لك ويستمر في التلبية حتى يصل إلى الكعبة المشرّفة.

4

محظورات الإحرام العامة: الجِماع، عقد النكاح، قتل الصيد، حلق الرأس وقص الأظافر، استخدام الطيب والعطور، ومحظورات الإحرام الخاصة بالرجال: تغطية الرأس، لبس المخيط المفصل على أي عضو في الجسم. محظورات الإحرام الخاصة بالنساء فقط: لبس النقاب، لبس القفازين.

5

يجوز للمحرم: الاغتسال، لبس النظارات والخواتم والساعات، تضميد الجراح، ارتداء الحزام محفظة النقود المحيطة بالجسم، لبس النعال، حمل المظلة.

6

يتحلى المحرم بحسن الخلق في أقواله وأفعاله ويترك الجدال، ويقدم المساعدة لمن يحتاجها، ويتبع تعليمات الجهات التنظيمية.

7

أرقام تهم الحاج والمعتمر: (٩١١) للحالات الطارئة والخدمات الأمنية، (٩٣٧) للاستشارات الطبية.
   </div>
 </div>

 <div class="clickable-div" id="div4">
   الإحرام
   <div class="hidden-text">
     الإحرام عبادة عظيمة تبدأ بها نسك <br>
     يشرع الاشتراط في الإحرام للحاج أو المعتمر إن خاف ألّا يكمل نسكه لأي سبب.

الإحرام هو الدخول في عبادة الحج أو العمرة، ويكون ذلك بأن تنوي الدخول في العمرة أو الحج، وتبدأ بالتلبية، وهو أول ركن من أركانها.

في الإحرام يستوي جميع الناس بلباسهم وهيئتهم لا تفرقهم الألوان ولا الماديات، وينطلقون بعد إحرامهم لأداء مناسكهم متواضعين لله، يدعونه ويتضرعون إليه.

الإحرام هو أول خطوةٍ في رحلتك الإيمانية، وهو عملٌ قلبيٌّ يدخل به الحاج أو المعتمر في عبادةٍ عظيمةٍ، أمر اللهُ بأن نخلص فيها نياتنا ونقيمها لوجهه سبحانه على أكمل وجه، كما قال تعالى: {وَأَتِمُّوا الْحَجَّ وَالْعُمْرَةَ لِلَّهِ}.

ما هو الإحرام؟

الإحرام هو الدخول في عبادة الحج أو العمرة، ويكون ذلك بأن تنوي الدخول في العمرة أو الحج، وتبدأ بالتلبية، وهو أول ركن من أركانهما.
وهو أول خطوة في رحلتك الإيمانية، فهو عمل قلبي تدخل به أخي الحاج أو المعتمر في عبادة عظيمة أمر الله بأن نخلص فيها نياتنا، ونقيمها لوجهه سبحانه وتعالى على أكمل وجه، كما قال تعالى: {وأتموا الحج والعمرة لله}.
وبمجرد هذه النية فإنه تمتنع عليك أشياء كانت مُباحةً قبل الإحرام؛ كالجماع، وحلق الرأس، وقص الأظافر، وتغطية الرأس ولبس المَخيط للرجل، وغيرها.
فإذا أردت الدخول في عبادة العمرة فإنك تمتنع عن محظورات الإحرام، وتنوي الدخول في العمرة، وتقول: لبيك عمرةً، ثم تبدأ بالتلبية، وإذا أردت الدخول في الحج فإنك تنوي الدخول في الحج، وتقول: لبيك حجًّا، ثم تبدأ بالتلبية.
الاشتراط في الإحرام

ديننا دين يُسرٍ كما قال الله تعالى: {يريد الله بكم اليسر ولا يريد بكم العسر}، ومن مظاهر هذا التيسير على المسلم في أداء العبادات؛ مراعاة الظروف التي قد تمنعه من إكمال نسكه الذي نواه من حج أو عمرة. فيشرع له إن خاف ألَّا يكمل نسكه لأي سبب كان أن يشترطَ في إحرامه.

كيف يشترط الحاج أو المعتمر؟

إذا خاف الحاج أو المعتمر ألَّا يتمكن من إتمام نسكه لمرض، أو عذر شرعي، أو سبب خارج عن إرادته، فيشرع له الاشتراط في النية، وذلك بأن يقول بعد ذكر نسكه، بعد قوله: "لبيك عمرة" أو "لبيك حجًّا": "فإن حبسني حابسٌ فمحلي حيث حبستني"، يقولها بأي لغة يحسِنها، فإذا قالها واشترط، وحصل أمرٌ منعه من إتمام النسك، جاز له الخروج من الإحرام، والتوقف عن إكمال النسك الذي أحرم لأجله، وليس عليه شيء.

من الذي يشترط؟

يشترط كل من خشي على نفسه عدم إتمام النسك لسبب خارج عن إرادته، مثل:

المرأة التي تخاف من العذر الشرعي الذي يمنعها من إتمام نسكها
المريض الذي يخشى ألَّا يقدر على إتمام نسكه
وصايا للمحرم

أنت الآن في عبادةٍ عظيمةٍ دخلتَ فيها بمجرد نيتِك وتلبيتِك، وهذه بعض الوصايا المهمة لك:

عظِّم شعائر الله وأوامرَه ونواهيه، وأعطها حقها من التقدير والاحترام، وقد قال تعالى: {وَمَن يُعَظِّمْ شَعَائِرَ اللَّهِ فَإِنَّهَا مِن تَقْوَى الْقُلُوبِ}
ابتعد عن كل ما يخدش إحرامك من الخصام ورفع الصوت والإيذاء والجدال، قال تعالى: {فَمَن فَرَضَ فِيهِنَّ الْحَجَّ فَلَا رَفَثَ وَلَا فُسُوقَ وَلَا جِدَالَ فِي الْحَجِّ}
أكثِر من التلبية، فإنه ذكرٌ ودعاءٌ عظيم لا يشرع إلا في هذه اللحظات، قال صلى الله عليه وسلم: "ما من مسلم يلبي؛ إلا لبى ما عن يمينه وشماله - من حجر، أو شجر، أو مدر، حتى تنقطع الأرض من ها هنا وها هنا"
احرص على التقيد بتعليمات رجال الأمن ومشرفي الحملات
احرص على تعلُّم ما تحتاجه من الأحكام الشرعية في نُسكك الذي تُقبل عليه
لا تعرِّض نفسك لأشعة الشمس المباشرة، واستخدم المظلة إن احتجت للخروج نهاراً
أمثلة على أمور قد تمنع النسك

المرض
الحيض
أسباب طارئة
   </div>
 </div>

 <div class="clickable-div" id="div5">
   الوصول للمحرم
   <div class="hidden-text">
     يمكن للآباء والأمهات اصطحاب أطفالهم بمختلف أعمارهم لأداء الصلوات في الحرم المكي، وعلى الآباء استخراج تصريح عمرة للأطفال عبر تطبيق نسك لمن تتجاوز أعمارهم ٥ سنوات في حال رغبتهم لأداء العمرة.

     وعلى الأب أو الأم الحرص على أن تكون مع الطفل بطاقة تعريفية أو إسوارة تحمل اسمه ورقم الهاتف، مع الإمساك بيده دائماً، وعدم الابتعاد عنه حتى لا يتعرض للضياع، مع الحرص على تعليمه ألَّا يتسبب في إزعاج المصلين.
     
     مركز العناية بالأطفال التائهين في الحرم المكي
     
     مركز مهيأ للأطفال، يستقبل الأطفال التائهين في رحاب المسجد الحرام، تشرف عليه قوة أمن الحرم المكي، وتتابع تسلم الأطفال التائهين وتسليمهم إلى ذويهم.
     
     للمحافظة على سلامة وصحة طفلك في الحرم، تجنب الدخول معه في الزحام.
   </div>
 </div>

 <div class="clickable-div" id="div6">
   الطواف
   <div class="hidden-text">
     أدوار المطاف <br>
     ينقسم مبنى المطاف إلى

صحن المطاف
الدور الأرضي
الدور الأول
دور الميزانين في الدور الأول للعربات
السطح
الطاقة الاستيعابية لمبنى المطاف

صحن المطاف يستوعب ٣٠٫٠٠٠ طائف في الساعة
جميع الأدوار تستوعب ١٠٧٫٠٠٠ طائف في الساعة
يتم الوصول إلى هذه الأدوار من خلال مسارات خاصة يتم تحديدها من قِبل رجال الأمن، وعلى الحاج أو المعتمر التعاون معهم والاستجابة لتوجيهاتهم.
   </div>
 </div>

 <div class="clickable-div" id="div7">
   السعي
   <div class="hidden-text">
     معلومات المسعى <br>
     ما هما الصفا والمروة؟

جبلان صغيران صعدت عليهما هاجر (أم إسماعيل عليه السلام) بحثًا عن الطعام أو الماء
الصَّفا: جبل صغير يبتدئ منه السعي، وما زالت صخور الجبل ظاهرة في الدور الأرضي للمسعى
المروة: جبل صغير مقابل الصفا، ينتهي عنده سعي الحاج والمعتمر
المسعى بالأرقام

طول المسعى: ٣٩٤ م
إجمالي مسافة المشي في الأشواط السبعة تقريبًا: ٢٬٧٦١ م
متوسط الوقت لإكمال السعي: ٤٥ - ٥٥ دقيقة، وتتفاوت السرعات في المشي حسب عدة عوامل
أدوار المسعى

ينقسم المسعى إلى أدوار بمساحة ٨٧٬٠٠٠ م٢، وهي:

بدروم (قبو)
الدور الأرضي
دور الميزانين للعربات الكهربائية
الدور الأول
الدور الثاني
سطح المسعى
   </div>
 </div>

</section>


   

   
 
 
 

<!-- end portfolio section -->

  <!-- end service section -->

  <!-- info section -->

  
            
  <section class="info_section ">
    <div class="info_container layout_padding2">
      <div class="container">
        <div style="text-align: center;" >
          <img style="width: 120px;margin-bottom: 10%;" src="images/LogoAlata.png" >
    </div>
        <div class="info_main">
          <div class="row">
            <div class="col-md-3 col-lg-2">
              <div class="info_link-box">
                <h5>
                  Useful Link
                </h5>
                <ul>
                  <li class=" active">
                    <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="about.html">About </a>
                  </li>
                  <li class="">
                    <a class="" href="service.html">Services </a>
                  </li>
                  <li class="">
                    <a class="" href="portfolio.html"> Portfolio </a>
                  </li>
                  <li class="">
                    <a class="" href="contact.html"> Contact </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 ">
              <h5>
                Welding
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur
                adipiscinaliquaLoreadipiscing
              </p>
            </div>
            <div class="col-md-3 mx-auto  ">
              <h5>
                social media
              </h5>
              <div class="social_box">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <h5>
                Our welding center
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur
                adipiscinaliquaLoreadipiscing
              </p>
            </div>
          </div>
        </div>
        <div class="info_bottom">
          <div class="row">
            <div class="col-lg-9">
              <div class="info_contact ">
                <div class="row">
                  <div class="col-md-3">
                    <a href="#" class="link-box">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span>
                        Location
                      </span>
                    </a>
                  </div>
                  <div class="col-md-5">
                    <a href="#" class="link-box">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <span>
                        Call +01 1234567890
                      </span>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="link-box">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <span>
                        demo@gmail.com
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="info_form ">
                <form action="">
                  <input type="email" placeholder="Enter Your Email" />
                  <button>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

                 
    

  <!-- end info section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!--  OwlCarousel 2 - Filter -->
  <script src="https://huynhhuynh.github.io/owlcarousel2-filter/dist/owlcarousel2-filter.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

</body>

</html>